<!-- 100devs tic-tac-toe CSS  -->
https://github.com/Dev-Corinne/TicTacToe


<!-- 100devs tic-tac-toe CSS  -->
https://github.com/Dev-Corinne/TicTacToe


.parent{
display: grid;
grid-template-columns: 150px 150px 150px;
grid-template-rows: 150px 150px 150px;
}

.parent > div{
background-color: skyblue;
}
