/* 100devs tic-tac-toe CSS */
/* https://github.com/Dev-Corinne/TicTacToe */


.game-board{
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
  }
  
  body {
  display: flex;
  justify-content: center;
  }
  
  .box {
  background: rgb(129, 129, 240);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
  }
  
  .hidden {
       display: none;
  }
